In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("heart.csv")

In [ ]:
df.sample(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2,0
138,57,1,0,110,201,0,1,126,1,1.5,1,0,1,1
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
128,52,0,2,136,196,0,0,169,0,0.1,1,0,2,1
183,58,1,2,112,230,0,0,165,0,2.5,1,1,3,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
df.shape

(303, 14)

In [5]:
df.corr()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
age,1.000000,-0.098447,-0.068653,0.279351,0.213678,0.121308,-0.116211,-0.398522,0.096801,0.210013,-0.168814,0.276326,0.068001,-0.225439
sex,-0.098447,1.000000,-0.049353,-0.056769,-0.197912,0.045032,-0.058196,-0.044020,0.141664,0.096093,-0.030711,0.118261,0.210041,-0.280937
cp,-0.068653,-0.049353,1.000000,0.047608,-0.076904,0.094444,0.044421,0.295762,-0.394280,-0.149230,0.119717,-0.181053,-0.161736,0.433798
trtbps,0.279351,-0.056769,0.047608,1.000000,0.123174,0.177531,-0.114103,-0.046698,0.067616,0.193216,-0.121475,0.101389,0.062210,-0.144931
chol,0.213678,-0.197912,-0.076904,0.123174,1.000000,0.013294,-0.151040,-0.009940,0.067023,0.053952,-0.004038,0.070511,0.098803,-0.085239
fbs,0.121308,0.045032,0.094444,0.177531,0.013294,1.000000,-0.084189,-0.008567,0.025665,0.005747,-0.059894,0.137979,-0.032019,-0.028046
restecg,-0.116211,-0.058196,0.044421,-0.114103,-0.151040,-0.084189,1.000000,0.044123,-0.070733,-0.058770,0.093045,-0.072042,-0.011981,0.137230
thalachh,-0.398522,-0.044020,0.295762,-0.046698,-0.009940,-0.008567,0.044123,1.000000,-0.378812,-0.344187,0.386784,-0.213177,-0.096439,0.421741
exng,0.096801,0.141664,-0.394280,0.067616,0.067023,0.025665,-0.070733,-0.378812,1.000000,0.288223,-0.257748,0.115739,0.206754,-0.436757
oldpeak,0.210013,0.096093,-0.149230,0.193216,0.053952,0.005747,-0.058770,-0.344187,0.288223,1.000000,-0.577537,0.222682,0.210244,-0.430696
slp,-0.168814,-0.030711,0.119717,-0.121475,-0.004038,-0.059894,0.093045,0.386784,-0.257748,-0.577537,1.000000,-0.080155,-0.104764,0.345877
caa,0.276326,0.118261,-0.181053,0.101389,0.070511,0.137979,-0.072042,-0.213177,0.115739,0.222682,-0.080155,1.000000,0.151832,-0.391724
thall,0.068001,0.210041,-0.161736,0.062210,0.098803,-0.032019,-0.011981,-0.096439,0.206754,0.210244,-0.104764,0.151832,1.000000,-0.344029
output,-0.225439,-0.280937,0.433798,-0.144931,-0.085239,-0.028046,0.137230,0.421741,-0.436757,-0.430696,0.345877,-0.391724,-0.344029,1.000000

In [6]:
abs(df.corr()['output']).sort_values(ascending=False)

output      1.000000
exng        0.436757
cp          0.433798
oldpeak     0.430696
thalachh    0.421741
caa         0.391724
slp         0.345877
thall       0.344029
sex         0.280937
age         0.225439
trtbps      0.144931
restecg     0.137230
chol        0.085239
fbs         0.028046
Name: output, dtype: float64

In [9]:
#df['sex']=np.where(df['sex']==1, 'E', 'K')
df.sex=df['sex'].replace([1,0],['E','K'])
#df['sex']=df['sex'].map({1:'E',0:'K'})
#d={1:"E",0:"K"}
#df.sex=df.sex
#1 ve 0 ı e ve k yapar

In [10]:
df.sex.unique()

array(['E', 'K'], dtype=object)

In [11]:
df.thall=df.thall.astype("category")#thall değerindeki rakamsal değerleri forklı yorumlanıyor 0 1 2 3 gibi birbirine üstünlüğüne olmadan grupalnıyordu o yüzden category yaptık.

In [12]:
df["t"]=220-df.age

In [13]:
df['riskthalachh']=((220-df.age)-df.thalachh)#

In [14]:
df.cp=df.cp.astype("category")

In [15]:
x=df.drop(['output','chol','fbs','t','trtbps','thalachh'], axis=1)

In [16]:
x

     age sex cp  restecg  exng  oldpeak  slp  caa thall  riskthalachh
0     63   E  3        0     0      2.3    0    0     1             7
1     37   E  2        1     0      3.5    0    0     2            -4
2     41   K  1        0     0      1.4    2    0     2             7
3     56   E  1        1     0      0.8    2    0     2           -14
4     57   K  0        1     1      0.6    2    0     2             0
..   ...  .. ..      ...   ...      ...  ...  ...   ...           ...
298   57   K  0        1     1      0.2    1    0     3            40
299   45   E  3        1     0      1.2    1    0     3            43
300   68   E  0        1     0      3.4    1    2     3            11
301   57   E  0        1     1      1.2    1    1     3            48
302   57   K  1        0     0      0.0    1    1     2           -11

[303 rows x 10 columns]

In [17]:
y=df.output

In [18]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier

from sklearn.model_selection import train_test_split

In [19]:
x=pd.get_dummies(x,drop_first=True)

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [21]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((242, 14), (61, 14), (242,), (61,))

In [22]:
def classalgo_test(x_train,x_test,y_train,y_test): #classification
      
    g=GaussianNB()
    b=BernoulliNB()
    kc=KNeighborsClassifier()
    lr=LogisticRegression()
    dc=DecisionTreeClassifier()
    rfc=RandomForestClassifier()
    gbc=GradientBoostingClassifier()
    xgb=XGBClassifier()
    
    algos = [g,b,kc,lr,dc,rfc,gbc,xgb]
    algo_names = ['GaussianNB','BernoulliNB','KNeighborsClassifier','LogisticRegression','DecisionTreeClassifier','RandomForestClassifier','GradientBoostingClassifier','XGBClassifier']
    accsc=[]
    precsc=[]
    fsc=[]
    
    result = pd.DataFrame(columns = ['Accuracy Score','Precision Score'],index = algo_names)
    
    for algo in algos:
    
        algo.fit(x_train,y_train)
        pred=algo.predict(x_test)
        accsc.append(accuracy_score(pred,y_test))
        precsc.append(precision_score(pred,y_test))
        fsc.append(f1_score(pred, y_test, average='micro'))
    
    result['Accuracy Score'] = accsc
    result['Precision Score'] = precsc
    result['F1 Score']= fsc
        
    return result.sort_values('Accuracy Score', ascending=False)

In [23]:
classalgo_test(x_train,x_test,y_train,y_test)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                            Accuracy Score  Precision Score  F1 Score
LogisticRegression                0.901639          0.90625  0.901639
GaussianNB                        0.868852          0.84375  0.868852
BernoulliNB                       0.852459          0.78125  0.852459
RandomForestClassifier            0.836066          0.84375  0.836066
GradientBoostingClassifier        0.786885          0.75000  0.786885
XGBClassifier                     0.786885          0.75000  0.786885
DecisionTreeClassifier            0.688525          0.65625  0.688525
KNeighborsClassifier              0.672131          0.65625  0.672131